@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

section {
  scroll-margin: 50px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: var(--purple300);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 0;
}
.logo {
  font-size: 32px;
  font-weight: 600;
}

button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}
button:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}
nav ul li:hover {
  border-bottom: 2px solid white;
  transition: 0.2s ease-in;
}
.inicio-section {
  background-image: url(images/hero_image.png);
  height: 100vh;
  display: grid;
  color: white;
  place-items: center;
  text-align: center;
}

.inicio-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.inicio-section h1 {
  font-size: 96px;
}
.inicio-section h3 {
  font-size: 32px;
}

.servicios-section {
  padding-top: 50px;
  background: var(--purple500);
}
.servicios-section .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}

.primary-btn {
  background-color: var(--red600);
  color: white;
}
.secondary-btn {
  background-color: var(--purple300);
  color: white;
}

.about-servicios {
  padding-top: 50px;
  display: grid;
  place-items: center;
  gap: 50px;
  text-align: center;
  margin-bottom: 5px;
}

.video-section {
  display: grid;
  place-items: center;
  color: white;
  text-align: center;
}
.video-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -200px;
}
.inicio-section,
.video-section {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gift-section {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  gap: 50px;
}

.gift-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-upper {
  background-color: var(--purple600);
  padding: 20px;
}
.footer-upper .container {
  display: flex;
  color: white;
  justify-content: space-between;
}

.footer-upper h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}
.footer-lower {
  background-color: var(--purple300);
  padding: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.gift-section {
  scroll-margin: 120px;
}

.productos{
  width: 1024px;
  margin: 0 auto;
  padding: 20px;
}  

.productos li{
  display: inline-block;
  text-align: center;
  width: 33%;
  vertical-align: top;
  margin: 0 1.5;
  padding: 15px 10px;
  box-sizing: border-box;
  border-color: #f0ecec;
  border-width: 2px;
  border-style: solid;
  border:2px solid #f0ecec;
  border-radius: 10px;

}

.productos li:hover{    
      color: #c78c19;
      text-decoration: underline;
}

.productos li:active /* captura el evento del click y resalta el item */{
  border-color: #099c19;
}

.productos h2{
  font-size: 30px;/* tamaño de fuente*/
  font-weight: bold;
}

.productos li:hover h2{ /*efecto de engrandamiento en los items */
  font-size: 33px;
}

.producto-descripcion{
  font-size: 18px;
}

.producto-precio{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px; /*propiedade para dar espacio de un texto a otro*/
}

.galeria1 img {
  margin: 20px;
  border: 20px;
  transition: opacity 3s;
  border-radius: 10px;
}

.destinos{
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}  

.testimonial-container {
  background-color: #476ce4;
  color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-left {
  left: 40px;
}

.fa-quote-right {
  right: 40px;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  transform-origin: left;
  animation: grow 10s linear infinite;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}


/* Four columns side by side */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .productos{
      display:none;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* Estilo general para el formulario */
form {
  max-width: 600px;
  margin: 0 auto;
}

/* Estilo para etiquetas y campos de entrada */
label {
  display: block;
  margin-bottom: 8px;
}

.input-padron {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

/* Estilo para la leyenda del fieldset */
legend {
  font-weight: bold;
  margin-bottom: 8px;
}

/* Estilo para los radio buttons y checkboxes */
fieldset label {
  display: block;
  margin-bottom: 8px;
}

/* Estilo para el botón de enviar */
.enviar {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Cambio de estilo al pasar el ratón sobre el botón */
.enviar:hover {
  background-color: #45a049;
}

/* Estilo para el checkbox */
.checkbox {
  display: block;
  margin-top: 16px;
}

/* Alineación del checkbox */
.checkbox input {
  vertical-align: middle;
}
